*{
     box-sizing: border-box;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000bb;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.658);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.89);
  }
:root{
    --column-1: #a2622d;
    --column-2: #1b6161;
    --column-3: #248224;
    --column-4: #a22d22;
}
body{
    background-image: url('bcg.jpg');
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.main--title{
    text-align: center;
    color: #fff;
    letter-spacing: 16px;
    text-transform: uppercase;
    font-size: 40px;
    margin: 8px 0;

}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.column h2{
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    padding: 8px;
    color: #fff;
    max-height: 52vh;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.column li{
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.445);
    color: #fff;
    margin: 10px auto;
    width: 90%;
    cursor: grab;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.column li:active{
    background-color: rgba(0, 0, 0, 0.726);
}
.list{
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
    margin: 0;
    min-height: 80px;
    background-color: #21222234;
    height: 100%;
    overflow-y: auto;
}
.on-hover-column{
    background-color: #1b6161;
    outline: 2px solid rgb(16, 153, 57);
}
.backlog h2{
    background-color: var(--column-1);
}
.backlog li{
    background-color: #a2622dad;
}
.progress h2{
    background-color: var(--column-2);
}
.progress li{

    background-color:  #1b6161;
}
.complete h2{
    background-color: var(--column-3);
}
.complete li{
    background-color: #2482249a;
}
.on-hold h2{
    background-color: var(--column-4);
}
.on-hold li{
    background-color: #a22d22a9;
}
.column{
    display:flex;
    flex-direction: column;
    border-radius: 4px;
    flex: 1;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 0;
    position: relative;
}
@media (min-width: 600px){
   .container{
       flex-direction: row;
   }
}
#trash{
    font-size: 3em;
    position: fixed;
    bottom: 30px;
    right: 30px;
   color: #fff;
}
#trash:hover{
    color: rgb(253, 24, 24);
    cursor: pointer;
}
.edit{
    background-color: blueviolet !important;
    cursor: text !important;
}
.sub--title{
    text-align: center;
    color: #fff;
    margin: 8px 0;
}
.add--item{
    padding: 7px;
    margin: 3px;
    display: inline-block;
    color: rgb(255, 255, 255);
}

.backlog .add--item{
    background-color: rgba(0, 0, 0, 0.445)
}
.add--item:hover{
    background-color: rgba(90, 8, 197, 0.445);
    cursor: pointer;
}
.add{
    padding: 7px;
    width: calc(100% - 18px);
    max-width: 200px;
    margin: 3px;

}
.hide{
   visibility: hidden;
}
.add{
    display: none;
}
.hide:checked ~ .add{
    display: block;
}
.add-holder{
    padding: 3px;
    margin-top: -1px;
    background-color: rgba(0, 0, 0, 0.445);
}
